:root {
  --light-peach: #ffe9d6;
  --peach: #ffcd9e;
  --orange: #ff9a3d;
  --bright-orange: #ff7a00;
  --red: #ff0000;
}

* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
}

#intro {
  background-color: var(--peach);
}

.top-bar {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-logo {
  color: white;
  background-color: var(--orange);
  border-radius: 25% / 50%;
  padding: 2px 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
}

.cart-logo span {
  padding-left: 6px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  text-decoration-line: none;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: var(--bright-orange);
  text-transform: uppercase;
}

.hero img {
  width: 55%;
  padding-right: 20px;
}

.hero h1 {
  width: 30%;
  padding-left: 70px;
}

#intro button {
  background-color: var(--orange);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
