:root {
  --light-peach: #ffe9d6;
  --peach: #ffcd9e;
  --orange: #ff9a3d;
  --bright-orange: #ff7a00;
  --red: #ff0000;

  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 3.2rem;
  --font-size-xx-large: 4.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

#intro {
  background-color: var(--peach);
}

.top-bar {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-logo {
  color: white;
  box-sizing: content-box;
  background-color: var(--orange);
  border-radius: 25% / 50%;
  padding: 4px 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-size-x-large);
}

.cart-logo span {
  padding-left: 12px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  text-decoration-line: none;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -10px;
  font-size: var(--font-size-x-large);
  color: var(--bright-orange);
  text-transform: uppercase;
}

.hero img {
  width: 55%;
  padding-right: 7%;
}

.hero h1 {
  width: 36%;
  padding-left: 7%;
}

#intro button {
  background-color: var(--orange);
  color: white;
  padding: 18px 20px;
  margin-left: 42%;
  margin-bottom: 44px;
  margin-top: -25px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  width: 19%;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

#about {
  background-color: black;
  color: white;
  padding: 50px 10%;
  font-size: 2.4rem;
  text-align: center;
}
